body {
align-items: center;
background-color: black;
}
@font-face{
    font-family: Future;
    src:url(NovaSquare.ttf);

}
#clock {
-webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
color: #08D4FD;
font-family: Future;
font-size: 136px;
width: 900px;
margin: 600px;
text-align: center;
            border-radius: 20px;
            border-width: 4px;
border-style: solid;
border-color: #08D4FD;
text-shadow:
    0 0 10px #6EFFFB,
    0 0 31px #6EFFFB,
    0 0 310px #6EFFFB;
            
}